@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-green: #a9e27d;
  --color-teal: #02ab89;
  --color-dark-gray: #464c4a;
  --color-peach: #ebb076;
  --font-orbitron: "Orbitron", sans-serif;
}

html {
  font-family: var(--font-orbitron);
}

body {
  margin: 0;
  padding: 0;
}
